<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - My ASP.NET CORE Application</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- Logo -->
    <div class="d-flex topBar text-white-50 p-4 justify-content-between">
        <div>ASP.NET CORE CRUD</div>
        @if (ViewBag.Title != "Login" && ViewBag.Title != "Registration")
        {
            <a asp-controller="Login" asp-action="Logout">Logout</a>
        }
    </div>

    <div class="container py-3">
        @RenderBody()
    </div>

    <!-- Footer -->
    <div class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET CORE Application</p>
        </footer>
    </div>

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
